* {
    font-family: 'Hanken Grotesk', sans-serif;
}

.partietop {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsla(241, 81%, 54%)); 
    border: 1px solid ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.top {
    color: hsl(241, 100%, 89%);
    font-size: 8px;
}

.partietop-rond {
    background: linear-gradient(90deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); 
    border: 1px solid ;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 5%;
    
}

.numbertop {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

.suitenumber {
    color: hsl(241, 100%, 89%);
    font-size: 10px;
}

.bottom h2 {
    color: hsl(0, 0%, 100%);
}

.bottom p {
    color: hsl(241, 100%, 89%);
    font-size: 12px;
    margin-bottom: 20px;
}

.partiebottom h1{
    font-size: 20px;
    margin-left: 5%;
    color: hsl(224, 30%, 27%);
    
}

.red {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    background-color: hsla(0, 100%, 67%, 0.10);
    font-weight: 700;
    font-size: 18px; 
    color: hsl(0, 100%, 67%);
    margin-left: 5%;
    margin-right: 5%;
}


.yellow {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    background-color: hsl(39, 100%, 56%, 0.10);
    font-weight: 700;
    font-size: 18px;
    color: hsl(39, 100%, 56%);
    margin-left: 5%;
    margin-right: 5%;
}

.green {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    background-color: hsl(166, 100%, 37%, 0.10);
    font-weight: 700;
    font-size: 18px;
    color: hsl(166, 100%, 37%);
    margin-left: 5%;
    margin-right: 5%;
}

.blue {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    background-color: hsl(234, 85%, 45%, 0.10);
    color: hsl(234, 85%, 45%);
    font-weight: 700;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

.button-34 {

  background: #2f2f7e;
  border-radius: 999px;
  box-shadow: #2c2c74 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 18px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  width: 325px;
  margin-left: 5%;
  
}